header-btn-color = #e1e1e1;

.header-btns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-btn {
  padding: 13px 18px;
  background-color: header-btn-color;
  border: 0;
}

.header-btn:not(:first-child) {
  margin-left: 15px;
}

