theme-color-blue = #3097d1;
theme-color-error = #f2dede;

body {
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
}

.btn {
  background-color: theme-color-blue;
  color: white;
}

.btn:hover, 
.btn:focus {
  color: theme-color-blue;
  background-color: theme-color-blue;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
  background-color: theme-color-error;
  color: gray;
}

.btn.busy {
  color: lightgray;
  background: darkgray;
}

#svg-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}


.hvr-radial-out:before {
  background: white;
}
