tree-link-color = #ccc;

.node {
  cursor: pointer;
}

.node circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: tree-link-color;
  stroke-width: 2px;
}
