:root {
  --body-color: #f1f3f3;
  --bar-color: #1997c6;
  --axis-color: #d4d8da;
}

body {
  margin: 15px;
  background-color: var(--body-color);
}

.bar {
  fill: var(--bar-color);
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--axis-color);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.x path {
  display: none;
}

.tool-tip {
  position: absolute;
  left: -100%;
  min-width: 80px;
  background: var(--body-color);
  border: 1px solid var(--bar-color);
  padding: 14px;
  text-align: center;
}
